<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>

<![endif]-->
</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">Car Detatils</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="#">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">About</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >


         <!-- ============================================================== -->
         <div class="card">
             <div class="card-body wizard-content">
                 <h4 class="card-title">CarService Management- An ultimate solution for your vehicle!</h4>
                 <h6 class="card-subtitle"></h6>
                 <span th:class="succes" th:text="${successMsg}"></span>
                 <form id="example-form" th:action="@{/carsum/summaryupdate/}+${id}"  method="post" class="m-t-40">

                     <div>
                         <h3>Add Car Details</h3>
                         <section>
                             <div class="form-control col-10">
                                 <label for="csnm">Customer's Name: </label>
                                 <input id="csnm" th:value="*{carSummaryById?.car?.customer?.name}" type="text" class="required form-control">
                             </div>

                             <div class="form-control col-10">
                             <label for="name">Car Model: </label>
                             <input id="name" th:value="*{carSummaryById?.car?.carModel}" type="text" class="required form-control">
                             </div>

                             <div class="form-control col-10">
                                 <label for="amount">Total amount: </label>
                                 <input id="amount" th:value="*{carSummaryById?.totalAmount}" disabled type="text" class="required form-control">
                             </div>

                             <div class="form-control col-10">
                                 <label for="paidamount">Paid Amount: </label>
                                 <input id="paidamount" th:value="*{carSummaryById?.paidAmount}" disabled type="text" class="required form-control">
                             </div>

                             <div class="form-control col-10">
                                 <label for="dueamount">Due Amount: </label>
                                 <input id="dueamount" th:value="*{carSummaryById?.dueAmount}" type="text" class="required form-control">
                             </div>
                             <div class="form-control col-10">
                                 <label>Today Amount: </label>
                                 <input  type="text" name="todayAmount" class="required form-control">
                             </div>



                             <button type="submit"  class="btn btn-primary btn-lg">Save</button>
                         </section>


                     </div>
                 </form>
             </div>
         </div>
         <!-- ============================================================== -->

     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>