<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>

    <style type="text/css">
        .err {
            color: red;
        }

        .succes {
            color: green;
        }
    </style>

<![endif]-->
</head>

<body>
<div layout:fragment="custom-content">
     <!-- ============================================================== -->
     <!-- Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <div class="page-breadcrumb">
         <div class="row">
             <div class="col-12 d-flex no-block align-items-center">
                 <h4 class="page-title">Add Products</h4>
                 <div class="ml-auto text-right">
                     <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="#">Home</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Project Matrix</li>
                         </ol>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- Container fluid  -->
     <!-- ============================================================== -->
     <div class="container-fluid" >


         <!-- ============================================================== -->
         <div class="card">
             <div class="card-body wizard-content">
                 <h4 class="card-title">CarService Management- An ultimate solution for your vehicle!</h4>
                 <h6 class="card-subtitle">Show list</h6>

                 <span th:class="succes" th:text="${successMsg}"></span>

                 <form id="example-form" th:action="@{/sale/add}" th:object="${productSale}" method="post" class="m-t-40">


                     <div>
                         <h3>Sale Products</h3>
                         <section>

                             <div class="form-control col-10">
                             <label for="name">Name: </label>
                             <input id="name" th:field="*{name}" type="text" class="required form-control"></div>

                             <div class="form-control col-10">

                             <label for="qty">Quantity: </label>
                             <input id="qty" th:field="*{qty}" type="number" class="required form-control">
                             </div>
                             <div class="form-control col-10">

                             <label for="price">Unit Price: </label>
                             <input id="price" th:field="*{unitPrice}" type="number" class="required form-control">
                             </div>
                             <div class="form-control col-10">
                             <label for="desi">Total Price: </label>
                             <input id="desi" th:field="*{totalPrice}" type="number" class="required form-control"></div>
                             <div class="form-control col-10">

                             <label>
                                 Product:</label>
                                 <select th:field="*{product}" multiple>


                                 <option th:each="p : ${productList}" th:value="${p.id}"><span th:text="${p.name}"></span></option>
                             </select>
                             </div>
                             <br/>
                             <div class="form-control col-10">

                             <label>
                                 Company:</label>

                             <select th:field="*{company}" multiple>

                                 <option th:each="cm : ${companyList}" th:value="${cm.id}"><span th:text="${cm.name}"></span></option>
                             </select>
<br/>
                             </div>
                             <div class="form-control col-10">

                             <button type="submit"  class="btn btn-primary btn-lg">Save</button>
                             </div>

                         </section>


                     </div>
                 </form>
             </div>
         </div>
         <!-- ============================================================== -->

     </div>
     <!-- ============================================================== -->
     <!-- End Container fluid  -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
</div>

</body>

</html>